{% extends "base.html" %} 
{% load static %} 
{% block title %}About{% endblock %}

{% block content %}
<div class="hero-image">
  <br />
  <div class="about-container">
    <h1 class="main-header">About Me</h1>

    <p>
      I'm a full-stack web developer based in the UK. I enjoy creating
      functional and engaging websites and apps.
    </p>
    <h3 class="contact-header">Check out some of my code!</h3>
    <div class="contact-links">
      <div>
        <a
          href="https://c1904h.github.io/portfolio-website/index.html"
          target="_blank"
          >View My Portfolio</a
        >
      </div>
      <h4>Find me on:</h4>
      <div>
        <a
          href="https://github.com/C1904H"
          target="_blank"
          >Github</a
        >
      </div>
      <div>
        <a
          href="https://www.linkedin.com/in/corinne-haggerty-2b98706b/"
          target="_blank"
          >LinkedIn</a
        >
      </div>
      <p class="email-link"><a href="mailto:C1904H@aol.com">Email Me</a></p>
   </div>
  </div>
</div>
{% endblock content %}
